@model FinalProject.Models.Contact

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facebook_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facebook_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Twitter_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Twitter_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Google_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Google_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Youtube_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Youtube_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
